{% block laenen_field_configurator %}
<div class="laenen-field-configurator">

    <div
        v-for="(field, index) in fieldList"
        :key="index"
        class="laenen-field-configurator__row"
    >
        <sw-container
            columns="1fr 120px 160px"
            gap="0 16px"
            align="center"
        >
            <mt-text-field
                :model-value="field.path"
                label="Field path"
                placeholder="e.g. manufacturer.translated.name"
                @update:model-value="onPathChange(index, $event)"
            />

            <sw-select-field
                :model-value="field.format || ''"
                :options="formatOptions"
                label="Format"
                @update:model-value="onFormatChange(index, $event)"
            />

            <div class="laenen-field-configurator__controls">
                <mt-button
                    size="small"
                    :disabled="index === 0"
                    @click="moveUp(index)"
                >↑</mt-button>
                <mt-button
                    size="small"
                    :disabled="index >= fieldList.length - 1"
                    @click="moveDown(index)"
                >↓</mt-button>
                <mt-button
                    size="small"
                    variant="critical"
                    @click="removeField(index)"
                >✕</mt-button>
            </div>
        </sw-container>
    </div>

    <mt-button
        size="small"
        class="laenen-field-configurator__add"
        @click="addField"
    >+ Add field</mt-button>

</div>
{% endblock %}
