{% block laenen_extended_admin_config_settings %}
    <sw-page class="laenen-extended-admin-config-settings">

        {% block laenen_extended_admin_config_settings_smart_bar_header %}
            <template #smart-bar-header>
                {% block laenen_extended_admin_config_settings_smart_bar_header_title %}
                    <h2>
                        {{ $tc('sw-settings.index.title') }}
                        <sw-icon
                                name="regular-chevron-right-xs"
                                small
                        />
                        {{ $tc('laenen-extended-admin-config-settings.general.title') }}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block laenen_extended_admin_config_settings_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block laenen_extended_admin_config_settings_actions_save %}
                    <sw-button-process
                            variant="primary"
                            :is-loading="isLoading"
                            :process-success="isSaveSuccessful"
                            @update:process-success="onSaveFinish"
                            @click="saveConfig"
                    >
                        {{ $tc('laenen-extended-admin-config-settings.page.buttonSave') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block laenen_extended_admin_config_settings_content %}
            <template #content>
                <sw-card-view>
                    <div class="laenen-extended-admin-config-settings__tabs">
                        <mt-tabs
                                :default-item="currentTab"
                                :items="tabItems"
                                @new-item-active="currentTab = $event"
                        />
                    </div>

                    <div v-show="currentTab === 'order-list'">
                        {% block laenen_extended_admin_config_settings_card_order_columns %}
                            <sw-card
                                    position-identifier="laenen-extended-admin-config-settings-order-columns"
                                    :title="$tc('laenen-extended-admin-config-settings.page.cardTitleOrderColumns')"
                                    :is-loading="isLoading"
                            >
                                <laenen-column-configurator
                                        :value="orderColumnConfigJson"
                                        @update:value="onOrderColumnConfigChange"
                                />
                            </sw-card>
                        {% endblock %}

                        {% block laenen_extended_admin_config_settings_card_order_filters %}
                            <sw-card
                                    position-identifier="laenen-extended-admin-config-settings-order-filters"
                                    :title="$tc('laenen-extended-admin-config-settings.page.cardTitleOrderListFilters')"
                                    :is-loading="isLoading"
                            >
                                <laenen-filter-configurator
                                        :value="orderFilterConfigJson"
                                        @update:value="onOrderFilterConfigChange"
                                />
                            </sw-card>
                        {% endblock %}
                    </div>

                    <div v-show="currentTab === 'order-creation'">
                        {% block laenen_extended_admin_config_settings_card_product_label %}
                            <sw-card
                                    position-identifier="laenen-extended-admin-config-settings-fields"
                                    :title="$tc('laenen-extended-admin-config-settings.page.cardTitleProductLabel')"
                                    :is-loading="isLoading"
                            >
                                <laenen-field-configurator
                                        :value="fieldConfigJson"
                                        @update:value="onFieldConfigChange"
                                />
                            </sw-card>
                        {% endblock %}

                        {% block laenen_extended_admin_config_settings_card_new_order_line_item_columns %}
                            <sw-card
                                    position-identifier="laenen-extended-admin-config-settings-new-order-line-item-columns"
                                    :title="$tc('laenen-extended-admin-config-settings.page.cardTitleNewOrderLineItemColumns')"
                                    :is-loading="isLoading"
                            >
                                <laenen-column-configurator
                                        :value="newOrderLineItemColumnConfigJson"
                                        @update:value="onNewOrderLineItemColumnConfigChange"
                                />
                            </sw-card>
                        {% endblock %}
                    </div>

                    <div v-show="currentTab === 'customer-list'">
                        {% block laenen_extended_admin_config_settings_card_customer_columns %}
                            <sw-card
                                    position-identifier="laenen-extended-admin-config-settings-customer-columns"
                                    :title="$tc('laenen-extended-admin-config-settings.page.cardTitleCustomerColumns')"
                                    :is-loading="isLoading"
                            >
                                <laenen-column-configurator
                                        :value="customerColumnConfigJson"
                                        @update:value="onCustomerColumnConfigChange"
                                />
                            </sw-card>
                        {% endblock %}

                        {% block laenen_extended_admin_config_settings_card_customer_filters %}
                            <sw-card
                                    position-identifier="laenen-extended-admin-config-settings-customer-filters"
                                    :title="$tc('laenen-extended-admin-config-settings.page.cardTitleCustomerListFilters')"
                                    :is-loading="isLoading"
                            >
                                <laenen-filter-configurator
                                        :value="customerFilterConfigJson"
                                        @update:value="onCustomerFilterConfigChange"
                                />
                            </sw-card>
                        {% endblock %}
                    </div>

                </sw-card-view>
            </template>
        {% endblock %}

    </sw-page>
{% endblock %}
