{% block laenen_filter_configurator %}
<div class="laenen-filter-configurator">

    <div
        v-for="(filter, index) in filterList"
        :key="index"
        class="laenen-filter-configurator__row"
    >
        <sw-container
            columns="2fr 1fr 80px 120px"
            gap="0 16px"
            align="center"
        >
            <sw-text-field
                :value="filter.property"
                label="Field path"
                placeholder="e.g. orderCustomer.email"
                @update:value="onPropertyChange(index, $event)"
            />

            <sw-text-field
                :value="filter.label"
                label="Filter label"
                placeholder="e.g. Customer e-mail"
                @update:value="onLabelChange(index, $event)"
            />

            <sw-checkbox-field
                :value="filter.active"
                label="Active"
                @update:value="onActiveChange(index, $event)"
            />

            <div class="laenen-filter-configurator__controls">
                <sw-button
                    size="x-small"
                    :disabled="index === 0"
                    @click="moveUp(index)"
                >↑</sw-button>
                <sw-button
                    size="x-small"
                    :disabled="index >= filterList.length - 1"
                    @click="moveDown(index)"
                >↓</sw-button>
                <sw-button
                    size="x-small"
                    variant="danger"
                    @click="removeFilter(index)"
                >✕</sw-button>
            </div>
        </sw-container>
    </div>

    <sw-button
        size="small"
        variant="ghost"
        class="laenen-filter-configurator__add"
        @click="addFilter"
    >+ Add filter</sw-button>

</div>
{% endblock %}
