{% block sw_order_list_grid_columns %}
    {% parent %}

    <template v-for="col in formattedExtraOrderColumns" :key="col.path" v-slot:[col.slotName]="{ item }">
        {{ applyOrderFormat(item, col) }}
    </template>

    <template #column-tags="{ item }">
        <span
                v-if="item.tags && item.tags.length"
                v-tooltip="{
                showDelay: 300,
                width: 300,
                message: tagTooltipMessage(item)
            }"
        >{{ tagSummaryLabel(item) }}</span>
        <span v-else>—</span>
    </template>
{% endblock %}
